body{
    margin:0;
    display:flex;
    justify-content: center;
    /* background-color: rgb(0, 0, 0); */
    align-items: center;
    height: 100vh;
    /* height: 100px; */
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
    width: 700px;
    padding: 50px;
    border: 3px dashed black;
}
#display{
    width: 100%;
    padding: 20px 0;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: white;
    color: black;
    border: 3px solid black;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 150px;
    height:100px; 
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

